include README.md
include requirements.txt
include pytest.ini
recursive-include bin *.py
recursive-include airr-standards *.yaml
recursive-include example_data *.json *.csv
recursive-include tests *.py